<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NOTA INFORME</title>

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      color: #263238;
      text-transform: uppercase;
    }

    html {
      padding: 1em;
    }

    .table {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      border-collapse: inherit;
      border-spacing: 0;
      border-color: inherit;
      vertical-align: inherit;
    }

    .text-center {
      text-align: center;
    }

    .text-info {
      font-size: 11px;
    }

    .text-title {
      font-size: 13px;
    }

    .width-subtitle {
      display: inline-block;
      min-width: 100px;
      padding: 0.2em;
    }

    .text-description {
      display: inline-block;
      width: 100px;
      padding-left: 0.4em;
    }

    .logo {
      width: 250px;
    }

    .table-item {
      border: 1px solid black;
    }

    .table-item thead tr th {
      border-right: 1px solid black;
    }

    .table-item thead tr th:last-child {
      border-right: 0px;
    }

    .table-item tbody tr td {
      border-top: 1px solid black;
      border-right: 1px solid black;
      padding-left: 0.3em;
    }

    .table-item tbody tr td:last-child {
      border-right: 0px;
    }

    .text-center {
      text-align: center;
    }

    .box-firma {
      width: 200px;
      border-bottom: 1px dashed black;
      height: 100px;
      margin: auto auto;
    }
    
    .bg-title {
      background: rgba(0, 0, 0, 0.1);
    }

    .bg-info {
      background: rgba(0, 0, 0, 0.05);
    }

    .cell-title {
      padding: 0.3em;
    }

    .watermark-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 70px;
      color: rgba(0, 0, 0, 0.1); /* Ajusta la opacidad */
      font-weight: bold;
      text-transform: uppercase;
      pointer-events: none;
      z-index: -1;
    }
  </style>

</head>
<body>
  @if(!nota.state)
    <div class="watermark-text">
      ANULADO
    </div>
  @endif
  <table class="table">
    <thead>
      <tr>
        <th align="left">
          <img class="logo" src="data:image/png;base64, {{urlImage}}" />
        </th>
        <th></th>
      </tr>
      <tr>
        <th colspan="2">
          @if(nota.type == 'ENTRY')
            NOTA DE INGRESO DE MATERIAL DE ALMACÉN N° {{nota.code}}
          @else
            NOTA DE PEDIDO DE MATERIAL DEL ALMACÉN N° {{nota.code}}
          @endif
        </th>
      </tr>
    </thead>
  </table>

  <br />

  <table class="table">
    <thead>
      <tr>
        <td colspan="2"></td>
        <td class="text-info cell-title bg-info"><b>SITUACION:</b> {{nota?.situacion?.name || ''}}</td>
        <td class="text-info cell-title bg-info"><b>MOTIVO:</b> {{nota?.motivo?.name || ''}}</td>
      </tr>
    </thead>
    <tbody class="text-title">
      <tr>
        <td>
          <span class="width-subtitle">FECHA:</span> 
        </td>
        <td>
          <span class="text-description">{{nota.date}}</span>
        </td>
      </tr>
      <tr>
        <td>
          @if(nota.type == 'ENTRY')
            <span class="width-subtitle">ÁREA:</span>
          @else
            <span class="width-subtitle">ÁREA SOLICITANTE:</span>
          @endif
        </td>
        <td> 
          <span class="text-description">{{nota.area?.name}}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="width-subtitle">CRP:</span>
        </td>
        <td colspan="2">
          <span class="text-description">{{nota.documentCrp || ""}}</span>
        </td>
      </tr>
      <tr>
        <td>
          @if(nota.type == 'ENTRY')
            <span class="width-subtitle">LUGAR DE DESMONTAJE:</span>
          @else
            <span class="width-subtitle">DESTINO Y/O ACTIVIDAD:</span>
          @endif
        </td>
        <td colspan="2">
          <span class="text-description">{{nota.lugar?.name || ""}}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <div style="min-height: 300px;">
    <table class="table table-item">
      <thead class="text-info">
        <tr>
          <th class="cell-title bg-title">ITEM</th>
          <th class="cell-title bg-title">CÓDIGO</th>
          <th class="cell-title bg-title">DESCRIPCIÓN DEL MATERIAL</th>
          <th class="cell-title bg-title">UND.</th>
          <th class="cell-title bg-title">CANTIDAD</th>
        </tr>
      </thead>
      <tbody class="text-info">
        @each((item, index) in items)
          <tr>
            <td class="cell-title text-center">{{index + 1}}</td>
            <td class="cell-title text-center">{{item.producto?.code || 'N/A'}}</td>
            <td class="cell-title">{{item.producto?.name || 'N/A'}}</td>
            <td class="cell-title text-center">{{item.producto?.medida?.name || 'N/A'}}</td>
            <td class="cell-title text-center">{{item.amount}}</td>
          </tr>
        @endeach
      </tbody>
    </table>
    
    <br />
  
    <table class="table">
      <thead class="text-info">
        <tr>
          <th align="left" width="100px">OBSERVACIÓN:</th>
          <td>{{nota.observation}}</td>
        </tr>
      </thead>
    </table>
  </div>


  <br />

  <table class="table">
    <thead class="text-info text-center">
      <tr>
        <th class="text-center">AUTORIZADO POR:</th>
        <th>AUTORIZADO:</th>
        <th>
          @if(nota.type == 'ENTRY')
            ENTREGA:
          @else
            RECIBIDO:
          @endif
        </th>
      </tr>
    </thead>
    <tbody class="text-info text-center">
      <tr>
        <td>
          <div class="box-firma"></div>
          <div class="text-center">FIRMA Y SELLO JEFE DE DEPTO.</div>
        </td>
        <td>
          <div class="box-firma"></div>
          <div class="text-center">PERSONA AUTORIZADA</div>
        </td>
        <td>
          <div class="box-firma"></div>
          <div class="text-center">V°B° ALMACEN</div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>